@import '../../assets/styles/colors.scss';

.for-click{
    width: 100%;
}

.page_wrapper{
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
    font-family: -apple-system,system-ui,"BlinkMacSystemFont","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

    h1{
        text-align: center;
        margin-top: 70px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    form{
        display: flex;
        flex-direction: column;
        padding: 0 10px 10px 10px;

        label{
            text-transform: uppercase;
            margin-bottom: -5px;
            margin-top: 25px;
            margin-left: 10px;
        }

        input, textarea, select{
            width: 100%;
            margin-top: 10px;
            padding: 7px;
            font-size: 16px;
            box-sizing: border-box;
            font-family: -apple-system,system-ui,"BlinkMacSystemFont","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        }

        #description{
            height: 100px;
            resize: vertical;
        }

        .source-links_wrapper, 
        .tag_wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .source-button_wrapper,
            .tag-button_wrapper{
                align-self: flex-end;
                button{
                    margin-left: 20px;
                    margin-top: 10px;
                    padding: 7px;
                    background-color: transparent;
                    &:hover{
                        background-color: #eef3eb;
                    }
                }
            }
        }

        .source-links_wrapper{
            .small-description{
                margin-top: 3px;
                margin-left: 10px;
                font-size: 16px;
            }
            .sourse-form-block{
                padding: 0 10px 10px 10px;
                border: 1px solid $lightGreen;
                margin-top: 10px;
            }
        }

        .tag_wrapper{
            button{
                margin-right: 2px;
            }
        }

        #text{
            height: 1000px;
            resize: vertical;
        }
    }

    .relates_wrapper{
        margin-top: 20px;
        position: relative;
        
        .relates_block{
            margin-top: 10px;
            li{
                display: flex;
                justify-content: space-between;
                padding: 8px;
                margin: 0 10px;
                border-bottom: 1px solid $lightGreen;
                .art_text{
                    margin-top: 8px;
                    .art_title{
                        font-size: 18px;
                    }
                    .art_author{
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    .art_id{
                        font-size: 10px;
                        color: #5a5a5a;
                    }
                }
 
                button{
                    padding: 7px;
                    background-color: transparent;
                    &:hover{
                        background-color: #eef3eb;
                    }
                }
            }
        }

        .related-list{
            max-height: 300px;
            border: 2px solid $darckBlue;
            margin-top: -1px;
            position: absolute;
            width: 100%;
            background-color: white;
            box-sizing: border-box;
            overflow: auto;

            li{
                padding: 3px;
                border-bottom: 1px solid $darckBlue;
                cursor: context-menu;

                &:hover{
                    background-color: #eef3eb;
                    z-index: -1;
                }

                .art_title{
                    font-size: 18px;
                }
                .art_author{
                    font-size: 16px;
                    margin-left: 10px;
                }
                .art_id{
                    font-size: 10px;
                    color: #5a5a5a;
                }
            }
        }
    }

}

.red-border{
    border-color: red;
}